#include <dt-bindings/zmk/matrix_transform.h>

/ {
    encoder0: ttc_encoder {
        compatible = "alps,ec11"
        label = "encoder";
        a-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  
        b-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; 
        steps = <4>;  
        status = "okay";
    };

     sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder0>;
    };

};