#include <dt-bindings/zmk/matrix_transform.h>

/ {
    encoder0: ttc_encoder {
        compatible = "alps,ec11";
        label = "TTC_GREEN";
        a-gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;  // reemplaza 2 con tu pin real para A
        b-gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;  // reemplaza 3 con tu pin real para B
        steps = <24>;  // usual para TTC Green Core
        status = "disabled";
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <encoder0>;
        triggers-per-rotation = <20>;
    };

        &lencoder0 {
        status = "okay";
       };
};