#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        	default_layer {
			bindings = <
				&kp TAB   &kp Q  
			>;

			sensor-bindings = <&inc_dec_kp KP_N0 KP_N1>;
		};
    };
};