#include <dt-bindings/zmk/matrix_transform.h>

/ {
    encoder0: ttc_encoder {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 06 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  
        b-gpios = <&gpio0 08 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; 
        steps = 48>;  // usual para TTC Green Core
        status = "okay";
    };

    sensors: sensor {
        compatible = "zmk,keymap-sensors";
        sensors = <encoder0>;
        triggers-per-rotation = <24>;
    };

};